* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #3B82F6;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.portal-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  text-decoration: none;

  background: #1F2937;

  color: white;

  padding: 15px 30px;

  border-radius: 12px;

  transition: 0.3s;
}

.button:hover {
  background: #3B82F6;
  transform: scale(1.05);
}
